[package]
name = "raito"
version = "0.1.0"
edition = "2024_07"

[scripts]
get_block= "python3 ./scripts/data/get_block.py"
get_blocks= "./scripts/data/get_blocks.sh"

[dependencies]

[dev-dependencies]
cairo_test = "2.8.0"
