[package]
name = "utreexo"
version = "0.1.0"
edition = "2024_07"

[dependencies]
utils = { path = "../utils" }

[dev-dependencies]
cairo_test.workspace = true

[scripts]
# TODO: cairo lint
lint = "scarb fmt"
test = "scarb cairo-test && ../../scripts/data/integration_tests.sh"