[package]
name = "script"
version = "0.1.0"
edition = "2024_07"

[dependencies]
utils = { path = "../utils" }
shinigami_engine.workspace = true

[dev-dependencies]
cairo_test.workspace = true

[scripts]
# TODO: cairo lint
lint = "scarb fmt"
